
:root {
    --left-bg-color:  rgba(255, 152, 152, 0.185);
    --right-bg-color: rgba(137, 137, 137, 0.129);
    --larger-hover-opener: 75%;
    --reducer-hover-opener: 25%;
    --speed: 999ms;
}

*{
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}

.split.left {
    width: 50%;
    left: 0;
    height: 100vh;
    background: url("./close-up-young-woman-sending-air-kiss.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    color: rgb(135, 187, 5);
}

.split.left::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--left-bg-color);
}

.split.right {
    width: 50%;
    height: 100vh;
    right: 0;
    background: url("./carlos-aguilar-lhaS-RcmjM8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    color: rgb(255, 0, 38);

}


.split.right::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--right-bg-color);
}
 .split h1{
    font-size: 5rem;
    line-height: 25%;
    text-align: center;
    position: relative;
    justify-content: center;
   

 }
 .split a{
    font-size: 1.8rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: cornsilk;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
    border: solid 2px rgba(255, 255, 255, 0.524);
    padding: 15px 30px;
 }

 .split h1,a {
    padding-top: 30%;
    font-style: oblique;
 }

 .btn.one:hover{
    color: rgb(135, 187, 5) ;
    background-color: var(--right-bg-color);
    border-color: var(--right-bg-color);
 }
 .btn.two:hover{
    color: rgb(255, 0, 38) ;
    background-color: var(--left-bg-color);
    border-color: var(--left-bg-color);
 }

 .split.left, .split.right, .split.left::before, .split.right::before {
    transition: all var(--speed) ease-in-out;
 }
  
 .hover-left .left {
    width: var(--larger-hover-opener);
 }
 .hover-left .right {
    width: var(--reducer-hover-opener);
 }
 .hover-right .right {
    width: var(--larger-hover-opener);
 }
 .hover-right .left {
    width: var(--reducer-hover-opener);
 }
 @media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    
    .btn {
        padding: 1.2rem;
        width: 12rem;
    }
 }